﻿@media screen and (min-width: 1200px)
{
    
}

@media screen and (min-width: 768px) and (max-width: 1199px)
{

}

@media screen and (min-width: 0) and (max-width: 767px)
{

}

@font-face {
	font-family: IndieFlower;
    src: url(../fonts/Indie_Flower/IndieFlower.ttf);
}

.topbarcontact
{
	background-image: url('../images/Mtpan.jpg');
	background-size: 100% 100%;
	background-position: top;
	background-repeat: no-repeat;	
}

.input-text {
	width:100%;
	height:40px;
	line-height: 40px;
	font-size:30px;
	margin-top:5px;
    font-family: IndieFlower;
}


.button {
	width:100%;
	height:50px;
	margin-top:50px;
    background-color: #ccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:6px;
    color: #222;
    font-size: 40px;
    text-decoration: none;
    cursor: pointer;
    border:none;
    font-family: IndieFlower;
}



.button:hover {
    border: none;
    background:red;
    box-shadow: 0px 0px 1px #777;
}
