@font-face {
	font-family: Raleway;
    src: url(../fonts/Raleway/Raleway-Regular.ttf);
}

@font-face {
	font-family: Nunito;
    src: url(../fonts/Nunito/Nunito-Regular.ttf);
}

@font-face {
	font-family: IndieFlower;
    src: url(../fonts/Indie_Flower/IndieFlower.ttf);
}


html, body {
	
	font-size: 20px;
	font-family: Raleway;
	
	margin: 0px;
	padding: 0px;	
	width:100%;
		
	overflow: none;
}

nav {
	
	float:left;
	width: 100%;	
}

h1 {
	
	font-family: Nunito;
	color:#556AA9;	
	height: 200px;
    margin: 0px;
	font-size: 200%;
	text-align: center;	
}

img {
	
	width:100%;
	height:100%;	
}

<<<<<<< HEAD
=======
ul {
	
	width:100%;
	height:50px;
	
	margin: 0;
	padding: 0;
	
	list-style-type: none;
	
	
}

>>>>>>> 98facc36e84fe15c5b34d3b22e1626036c9942c3
li {
	 
	width: 16.6%;
	line-height: 50px;
	float: left;
	
}

.navlinks {
	
	color:#fff;
	text-align: center;
	text-decoration: none;
	
	display: block;
	
}

.navlinks:hover {
	
	background-color: #505050;
	
}

.header {
<<<<<<< HEAD
=======
	
>>>>>>> 98facc36e84fe15c5b34d3b22e1626036c9942c3
	margin: 0;
	padding: 0;
	float:left;
}

.center {
<<<<<<< HEAD
=======
	
>>>>>>> 98facc36e84fe15c5b34d3b22e1626036c9942c3
	float:left;
    width: 100%;
    height: auto;
	
}

.logo{
	height: 80px;
	width: 100px;
	margin-left:45%;
		  	
}



@media screen and (min-width: 1200px)
{
	.header {
		width:100%;
		height:auto;
	}
}

@media screen and (min-width: 768px) and (max-width: 1199px)
{
	ul#navbar {
		
		height:50px;
		
	}
	
	.header {
		width:100%;
		height:auto;
	}

	html, body {
		
		font-size: 100%;
		
	}
	
}

@media screen and (min-width: 0) and (max-width: 767px)
{
	.header {
		width:100%;
		height:auto;
	}

	html, body {
		
		font-size: 100%;
		
	}
	
}

/*****  BODY SECTION *****/

.title{
	display:block;
<<<<<<< HEAD

=======
	font-family: Nunito;
	font-size: 25px;
	
>>>>>>> 98facc36e84fe15c5b34d3b22e1626036c9942c3
	height: 80px;
	line-height: 80px;
	text-align: center;
}

.context {
	float:left;
	font-family:IndieFlower;
	font-size: 20px;
}
