﻿.context {
    width: 100%;
}

.grid-4-3 {
    padding-bottom: 500em;
    margin-bottom: -500em;
}

.topbarluge
{
	background-image: url('../images/lugepan2.jpg');
	background-size: 100% 100%;
	background-position: top;
	background-repeat: no-repeat;	
}

@media screen and (min-width: 1200px) {
    #slider {
        height: 200px;
        width: 95%;
    }
    .grid-4-3 {
        padding-bottom: 500em;
        margin-bottom: -500em;
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    #slider {
        height: 400px;
        width: 95%;
    }
    .grid-4-3 {
        padding-bottom: 100px;
        margin-bottom: 0px;
    }
}

@media screen and (min-width: 0) and (max-width: 767px) {
    #slider {
        height: 300px;
        width: 95%;
    }
    .grid-4-3 {
        padding-bottom: 100px;
        margin-bottom: 0px;
    }
}
