html, body {
	color:#222;
	background-color:#415643;/*background*/
}


ul {
	background-color: #2C4468; /*1st*/
}

.navlinks:hover {
	background-color: #899758;/*3rd custom*/
}

.grid-4-1, .grid-4-2, .grid-4-3, .grid-4-4, .grid-4-5, .grid-4-6, .grid-4-7, .grid-4-8, .grid-4-9, .grid-4-10, .grid-4-11,
.grid-3-1, .grid-3-2, .grid-3-3, .grid-3-4, .grid-3-5, .grid-3-6, .grid-3-7, .grid-3-8, .grid-3-9, .grid-3-10, .grid-3-11,
.grid-2-1, .grid-2-2, .grid-2-3, .grid-2-4, .grid-2-5, .grid-2-6, .grid-2-7, .grid-2-8, .grid-2-9, .grid-2-10, .grid-2-11,
.grid-1-1
{
	background-color:#A9B768;/*3rd*/
}

.header {
	background-color: #567;
}

.center {
	background-color: #415643;/*2nd*/
}

.footer {
	background-color: #415643;/*1st*/
	color:#ddd;
}

.title{
	background: #E3E3E3;
}
.button {
    background-color: #ccc;
    color: #222;
}
.button:hover {
    background:red;
    box-shadow: 0px 0px 1px #777;
}